.popup-wrapper{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0000005e;
    z-index: 1;
}
.popup-wrapper .layout-popup{
    background: #fff;
    border-radius: 7px;
    padding: 20px;
    width: 780pt;
    max-height: 85%;
    overflow: auto;
}
.popup-wrapper .layout-popup .popup-header{
    display: flex;
    justify-content: space-between;
}
.popup-wrapper .layout-popup .popup-header img{
    cursor: pointer;
    width: 30px;
}
.popup-wrapper .layout-popup .popup-content{
    margin-top: 30px;
}
.confirm-popup .layout-popup .popup-content .header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.confirm-popup .layout-popup .popup-content .header-content button{
    color: #fff;
    border-radius: 50px;
    border: unset;
    padding: 10px 50px;
    cursor: pointer;
    background: #FFB366;
    font-size: 23px;
    min-width: 80px;
}
.confirm-popup .layout-popup .popup-content .header-content span{
    font-size: 32px;
}
.popup-wrapper .layout-popup .popup-content .content{
    text-align: center;
    padding: 0 60px;
    font-size: 28pt;
}
.popup-wrapper .layout-popup .popup-footer{
    display: flex;
    justify-content: center;
    gap: 150px;
    margin: 30px 0px;
}
.popup-wrapper .layout-popup .popup-footer button{
    color: #fff;
    border-radius:50px;
    border: unset;
    padding: 0px 50px;
    cursor: pointer;
    background: #FFB366;
    font-size: 32px;
    min-width: 227px;
}
.confirm-popup .layout-popup .popup-footer .btn-popup-accept{
    background: #007FFF;
}
.confirm-popup .layout-popup{
    width: 80%;
}
.confirm-popup .layout-popup .popup-content .content{
    padding: 30px 0 0 0;
}
.confirm-popup .layout-popup .popup-content .content table{
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0;
    font-size: 27px;
}
.confirm-popup .layout-popup .popup-content .content table th{
    background: #FFE6CC;
    text-align: left;
    width: 30%;
    padding: 0 20px;
}
.confirm-popup .layout-popup .popup-content .content table, td, th {
    border: 1px solid;
}
#toast-container{
    width: 100% !important;
    top: 0!important;
    left: 0!important;
    height: 100%!important;
    background: #0000009c!important;
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
}
.toast-top-right {
    top: calc(50% - 60px) !important;
    right: calc(50% - 150px)!important;
}
.toast-info{
    background-color: #66B2FF !important;
}
#toast-container>div{
    width: unset!important;
    font-size: 25px !important;
    padding: 35px 35px 35px 50px;
}
.popup_filter_scoring_board .layout-popup .popup-content{
    margin-top: 10px;
}
.popup_filter_scoring_board .layout-popup .popup-content .scoring_board_content{
    text-align: center;
}
.popup_filter_scoring_board .layout-popup .popup-content .scoring_board_content .btn-title{
    background: #007FFF;
    font-size: 24pt;
    border: unset;
    color: #fff;
    border-radius: 30px;
    padding: 5px 50px;
}
.popup_filter_scoring_board .layout-popup .popup-content .scoring_board_content .input-group{
    margin: 50px 0;
}
.popup_filter_scoring_board .layout-popup .popup-content .scoring_board_content .input-group .date-group{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.popup_filter_scoring_board .layout-popup .popup-content .scoring_board_content .input-group .date-group input{
    font-size: 12pt;
    padding: 10px;
    border-radius: 6px;
    min-width: 190pt;
}
.popup_study_scoring_board .layout-popup .popup-content .scoring_board_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popup_study_scoring_board .layout-popup .popup-content .scoring_board_content .table-show-credit,.graph-show-credit{
    width: 50%;
}
.popup_study_scoring_board .layout-popup .popup-top{
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup_study_scoring_board .layout-popup .popup-top .btn-title{
    background: #FF9933;
    font-size: 24pt;
    border: unset;
    color: #fff;
    border-radius: 30px;
    padding: 5px 50px;
}
.popup_study_scoring_board .layout-popup .popup-top .btn-export-pdf{
    background: #FFB366;
    font-size: 17pt;
    border: unset;
    color: #fff;
    border-radius: 30px;
    padding: 5px 25px;
    margin-left: 50px;
}
.become-manager-screen .content-manager{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.become-manager-screen .content-manager .flex-column{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.become-manager-screen .content-manager .flex-column div button{
    background: #97D077;
    border: unset;
    border-radius: 25px;
    min-width: 430pt;
    padding: 7px;
    color: #fff;
    font-size: 22pt;
}
.become-manager-screen .content-manager .flex-column .flex-between{
    min-width: 430pt;
    margin: 0 auto;
}
.become-manager-screen .content-manager .flex-column .flex-between button{
    border: unset;
    background: #FF9933;
    padding: 10px;
    color: #fff;
    border-radius: 50px;
    min-width: 195px;
    font-size: 22pt;
    cursor: pointer;
}
.become-manager-screen .content-manager .flex-column .sub-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.become-manager-screen .content-manager .flex-column .sub-content .flex-column .sub-title button{
    background: #B9E0A5 !important;
}
.become-manager-screen .title-manager button{
    background: #3399FF;
    border: unset;
    padding: 10px;
    border-radius: 50px;
    color: #fff;
    margin-bottom: 20px;
    font-size: 24pt;
    min-width: 480pt;
}
.become-manager-screen .content-manager .action-manage button{
    background: #B3B3B3;
    min-width: 115pt;
    border: unset;
    padding: 10px;
    font-size: 12pt;
    color: #fff;
    border-radius: 25px;
    cursor: pointer;
}

