.form-registry .vertical-button{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    gap: 40px;
}
.form-registry .vertical-button button{
    width: 100%;
    font-size: 29px;
    border: unset;
    color: #fff;
    padding: 10px 70px;
}
.form-registry .vertical-button .redirect-btn{
    border-radius: 35px;
    background: #FFB366;
}
.form-registry .vertical-button .credited-btn{
    border-radius: 15px;
    background: #60C659;
}
.form-registry .vertical-button .credited{
    border-top: 1px solid #cbd5e1;
    padding-top: 20px;
}
.form-registry .input-group{
    display: flex;
    margin-top: 20px;
    gap:20px;
}
.form-registry .input-group .group-control{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-registry .input-group label{
    font-size: 29px;
}
.form-registry .input-group input[type="text"]{
    margin-left: 5px;
}
.form-registry .input-group select,input{
    padding: 6px;
    font-size: 19px;
    border:1px solid #5c5c5c;
}

.form-registry .input-group select, textarea {
    padding: 6px;
    font-size: 25px;
    border: 1px solid #5c5c5c;
    border-radius: 6px;
}
.form-registry .action{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 30px;
}
.form-registry .action .action-btn{
    color: #fff;
    background: #FFB366;
    border-radius: 30px;
    border: unset;
    padding: 10px 30px;
    font-size: 24px;
}
.form-registry .area-input{
    margin-top: 20px;
}
.form-registry .area-input #w3review{
    width: calc(100% - 12px);
    resize: vertical;
    font-size: 27px;
}
.form-registry .action button{
    color: #fff;
    border-radius: 30px;
    font-size: 24px;
    border: unset;
    padding: 10px 50px;
    cursor: pointer;
}
.form-registry .action .accept-btn{
    background: #007FFF;
}
.form-registry .action .decline-btn{
    background: #FFB366;
}
.form-registry .date-group{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-registry .date-group span{
    width: 4%;
    text-align: center;
}
.form-registry .date-group input{
    width: 48%;
}
.form-registry .date-group.second{
    justify-content: flex-start;
}
.form-registry .date-group.second input{
    width: 46%;
}
.form-registry table {
    width: 100%;
}
.form-registry table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
.form-registry table td label{
    font-size: 19px!important;
}
.form-registry td,th {
    padding: 5px;
}
.form-registry th {
    font-size: 19px;
    background: #FFE4E1;
}
.form-registry td {
    display: flex;
    align-items: center;
}

textarea {
    resize: none;
    overflow: hidden;
    min-height: 50px;
    max-height: 100px;
}

.form-registry .question-input{
    display: flex;
    margin-top: 20px;
    gap: 20px;
    flex-direction: column;
}
