.form-registry{
    position: relative;
}
.form-registry .vertical-button{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    gap: 40px;
}
.form-registry .vertical-button button{
    width: 100%;
    font-size: 29px;
    border: unset;
    color: #fff;
    padding: 10px 0px;
}
.form-registry .vertical-button .redirect-btn{
    border-radius: 35px;
    background: #FFB366;
    cursor: pointer;
}
.form-registry .vertical-button .credited-btn{
    border-radius: 15px;
    background: #60C659;
    cursor: pointer;
}
.form-registry .vertical-button .credited{
    border-top: 1px solid #cbd5e1;
    padding-top: 20px;
}
.form-registry .input-group{
    display: flex;
    margin-top: 20px;
    gap:20px;
}
.form-registry .input-group .group-control{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-registry .input-group label{
    font-size: 29px;
}
.form-registry .input-group input[type="text"]{
    margin-left: 5px;
}
.form-registry .input-group select,input{
    padding: 6px;
    font-size: 19px;
    border:1px solid #5c5c5c;
}

.form-registry .input-group select, textarea {
    padding: 6px;
    font-size: 25px;
    border: 1px solid #5c5c5c;
    border-radius: 6px;
}
.form-registry .action{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 30px;
}
.form-registry .action .action-btn{
    color: #fff;
    background: #FFB366;
    border-radius: 30px;
    border: unset;
    padding: 10px 30px;
    font-size: 24px;
}
.form-registry .area-input{
    margin-top: 20px;
}
.form-registry .area-input #w3review{
    width: calc(100% - 12px);
    resize: vertical;
    font-size: 27px;
}
.form-registry .action button{
    color: #fff;
    border-radius: 30px;
    font-size: 24px;
    border: unset;
    padding: 10px 50px;
    cursor: pointer;
}
.form-registry .action .accept-btn{
    background: #007FFF;
}
.form-registry .action .decline-btn{
    background: #FFB366;
}
.form-registry .date-group{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-registry .date-group span{
    width: 8%;
    text-align: center;
}
.form-registry .date-group input{
    width: 48%;
}
.form-registry .date-group.second{
    justify-content: flex-start;
}
.form-registry .date-group.second input{
    width: 46%;
}
.form-registry table {
    width: 100%;
}
.form-registry table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
.form-registry table td label{
    font-size: 19px!important;
}
.form-registry td,th {
    padding: 5px;
}
.form-registry th {
    font-size: 19px;
    background: #FFE4E1;
}
.form-registry td {
    display: flex;
    align-items: center;
}

textarea {
    resize: none;
    overflow: hidden;
    min-height: 50px;
    /*max-height: 100px;*/
}

.form-registry .question-input{
    display: flex;
    margin-top: 20px;
    gap: 20px;
    flex-direction: column;
}

.chosen-container .chosen-default{
    color: transparent !important;
}
.text-danger{
    color: #a52834 !important;
}


.chosen-container-single .chosen-single {
    height: 36px;
    padding: 7px ;
    font-size: 19px;
    border: 1px solid #5c5c5c;
    color: #080808;
}


.chosen-container-single .chosen-single div {
    width: 21px;
    height: 100%;
    padding: 7px 0px 0px 0px;
}

.chosen-container-multi .chosen-choices {
    height: 36px;
    padding: 4px ;
    font-size: 19px;
    border: 1px solid #5c5c5c;
    color: #080808;
}

/*.chosen-container-multi.chosen-container::after{*/

/*    background: url(https://cms-plative.local/assets/css-lib/chosen/chosen-sprite.png) center center no-repeat !important;*/
/*    width: 33px;*/
/*    height: 100%;*/
/*    content: " ";*/
/*    position: absolute;*/
/*    !*position: fixed; *!*/
/*    right: 14px;*/
/*    top: 0px;*/

/*}*/
.line-height-10{
    line-height: 10px;
}


.date-container {
    position: relative;
    float: left;
    width: 46%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.date-text {
    position: absolute;
    top: 6px;
    left: 12px;
    color: #aaa;
}

.date-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    /* pointer-events: none; */
    cursor: pointer;
    color: #aaa;

}

.form-registry .date-container input{
    width:100% !important;
    margin-left: 0px !important;
}

.form-registry .input-group input[type="text"].count-length ,.form-registry .input-group textarea.count-length {
    display: block;
    width: calc(100% - 14px);
    margin-left: 0;
}

.input-length{
    margin-left: 5px;
    margin-top: 5px;
}
.wrapper-loader{
    position: absolute;
    top: 0;
    left: 0;
    background: #0000005c;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.is_desc,.is_desc_blank{
    color: #0000FF;
    cursor: pointer;
}
.popup-desc .content{
    position: fixed;
    background: #FFFFCC;
    padding: 10px;
    border: 1px solid #eee;
    top: calc(50% - 70px);
    left: calc(50% - 250px);
    width: 500px;
}
.popup-desc{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: #00000069;
}