.sakura-set .without{
    margin: 30px 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 37px;
}
.sakura-set .top-contain{
    height: 120pt;
}
.sakura-set .bottom-contain{
    height: 290pt;
}
.sakura-set .button-list{
    display: flex;
    flex-flow: column;
    gap: 30px;
    align-items: center;
}
.fz-24{
    font-size: 24pt;
}
.sakura-set .button-list button{
    border: unset;
    background: #FFB366;
    font-size: 29px;
    padding: 10px;
    color: #fff;
    border-radius: 50px;
    min-width: 573px;
    cursor: pointer;
}
.sakura-set .button-list button a{
    text-decoration: none;
    color: #fff;
}
.sakura-set .botton-navigate{
    display: flex;
    justify-content: space-between;
    font-size: 12pt;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    padding: 0px 10px;
    margin:30px 0;
}
.sakura-set .botton-navigate .pull-left,.pull-right{
    width: 50%;
}
.sakura-set .botton-navigate .pull-left ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 43px;
}
.sakura-set .botton-navigate .pull-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.sakura-set .botton-navigate button{
    font-size: 24px;
    border:unset;
    padding: 12px;
    color: #fff;
    cursor: pointer;
}
.sakura-set .botton-navigate button{
    font-size: 24px;
    border:unset;
    padding: 12px;
    color: #fff;
    cursor: pointer;
}
.sakura-set .botton-navigate .pull-left .active{
    background: #3399FF;
    border-radius: 15px;
}
.sakura-set .botton-navigate .pull-left .in-active{
    background: #B3B3B3;
    border-radius: 15px;
}
.sakura-set .botton-navigate .pull-right button{
    background: #FF6666;
    border-radius: 50px;
    font-size: 37px;
}
.sakura-set .botton-navigate .pull-right .had-change{
    background: #FF8000!important;
}
.sakuraSet-sideBar{
    margin-bottom: 20px;
    border: 1px solid #94a3b8;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}
.sakuraSet-sideBar ul{
    list-style-type: none;
    font-size: 20px;
    color: #72C02C;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.sakuraSet-sideBar ul li span{
    cursor: pointer;
}
.sakuraSet-sideBar ul li button{
    cursor: pointer;
    width: 50%;
    border: unset;
    color: #fff;
    font-size: 19px;
    border-radius: 25px;
    padding: 5px 0;
}
.sakuraSet-sideBar ul li:nth-child(1) button{
    background: #66CC00;
}
.sakuraSet-sideBar ul li:nth-child(2) button{
    background: #3399FF;
}
.sakuraSet-sideBar ul li:nth-child(3) button{
    background: #FF3333;
}
.sakuraSet-sideBar ul li:nth-child(4) button{
    background: #FF8000;
}
.popup-wrapper .layout-popup{
    width: 45%!important;
}
.popup-wrapper .layout-popup .popup-content{
    margin-bottom: 30px!important;
}
.popup-wrapper .layout-popup .popup-content .header-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-wrapper .layout-popup .popup-content .header-content button{
    color: #fff;
    border-radius: 15px;
    border: unset;
    padding: 10px 50px;
    cursor: pointer;
    font-size: 30px;
    min-width: 640px;
    margin-bottom: 50px;
    background: #FFB366;
}
.yourTry .button-list{
    display: flex;
    flex-flow: column;
    gap: 30px;
    align-items: center;
}
.yourTry .button-list button{
    border: unset;
    background: #FFB366;
    font-size: 29px;
    padding: 10px;
    color: #fff;
    border-radius: 50px;
    min-width: 590pt;
    cursor: pointer;
}
/* .yourTry .button-list button:nth-last-child(1){
    background: #FF6666 !important;
} */
.yourTry .button-list button a{
    text-decoration: none;
    color: #fff;
}
.popup-a013 .header-content,.popup-a014 .header-content,.popup-a015 .header-content, .a012-popup-child .header-content, .a015-popup-child .header-content{
    flex-flow: column!important;
}
.popup-a013 .header-content > button:nth-child(1),.popup-a014 .header-content > button:nth-child(1),.popup-a015 .header-content > button:nth-child(1),.a012-popup-child .header-content > button:nth-child(1),.a015-popup-child .header-content > button:nth-child(1){
    background: #3399FF!important;
    border-radius: 15px !important;
}

.button-link a{
    text-decoration: none;
    color: #fff;
}

.a012-popup-child .button-close,.a015-popup-child .button-close {
    background-color: #A9A9A9 !important;
}

.title-popup{
    position: relative;
}

.title-popup img{
    position: absolute;
    width: 48px;
    right: 90px;
}


.table-manager{
    width: 540px;
}
.table-manager th, td {
    border-style: none;
    padding: 10px 0px 0px 7px;
}

.table-manager .manager{
    border: 1px;
    border-radius: 50px;
    background-color: #FFB366;
    text-align: center;
    padding: 7px 5px;
    font-size: 26px;
    color: #fff;
}

.table-manager .share{
    background-color: #3399FF;
}

.table-manager img{
    width: 32px;
}

.table-manager .download,.a015-initive-list .download{
    text-decoration: none;
    color: #fff;
}

.btn-primary{
    background: #3399FF!important;
}

.btn-success{
    background: #28a745 !important;
}
.none-share{
    background: #FFB366 !important;
}
.sharing{
    background: #3399FF!important;
}
.w-100px{
    width: 100px;
}

.w-500px{
    width: 500px;
}

.popup-wrapper .layout-popup .popup-content .header-content button.btn-list {
    margin: 15px 0px 10px 0px;
}
.popup-A015-save-share .a015-initive-list{
    width: 80%;
    display: flex;
    flex-flow: column;
}
.popup-A015-save-share .a015-initive-list div{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.popup-A015-save-share .a015-initive-list div button:nth-child(2){
    width: 60%;
}
.popup-A015-save-share .a015-initive-list div button{
    min-width: unset !important;
}
.popup-A015-save-share .a015-initive-list div img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.registerReviewerForm {
    border: 1px solid #000000;
    border-radius: 10px;
}
.registerReviewerForm form{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.registerReviewerForm form .form-group{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.registerReviewerForm form .form-title{
    color:#fff;
    font-size: 24pt;
    text-align: center;
    background-color: #3399FF;
    width: fit-content;
    padding: 10px 50px;
    border-radius: 15px;
    align-self: center;
    margin-bottom: 40px;
}
.registerReviewerForm form .form-group span{
    color:#fff;
    font-size: 24pt;
    text-align: center;
    background-color: #3399FF;
    padding: 10px 50px;
    border-radius: 15px;
    width: 25%;
}
.registerReviewerForm form .form-group input{
    width: 55%;
    border-radius: 6px;
    font-size: 18pt;
}
.registerReviewerForm form .action{
    width: fit-content;
    align-self: center;
    font-size: 22pt;
    color: #fff;
    background: #FFB366;
    border: unset;
    border-radius: 40px;
    padding: 6px 40px;
    cursor: pointer;
    margin-top: 20px;
}
.resultReviewerInfo{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.resultReviewerInfo .result-title{
    color: #fff;
    font-size: 24pt;
    text-align: center;
    background-color: #3399FF;
    padding: 10px 50px;
    border-radius: 15px;
    margin-bottom: 40px;
    width: 50%;
    align-self: center;
}
.resultReviewerInfo input{
    font-size: 24pt;
    width: 100%;
    height: 51pt;
    border-radius: 5px;
}
.resultReviewerInfo .apply{
    width: fit-content;
    align-self: center;
    font-size: 22pt;
    color: #fff;
    background: #FFB366;
    border: unset;
    border-radius: 40px;
    padding: 6px 40px;
    cursor: pointer;
    margin-top: 100px;
}