.sakura-set .without{
    margin: 30px 0;
    text-align: center;
    border: 1px dashed;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 37px;
}
.sakura-set .top-contain{
    height: 120pt;
}
.sakura-set .bottom-contain{
    height: 290pt;
}
.sakura-set .button-list{
    display: flex;
    flex-flow: column;
    gap: 30px;
    align-items: center;
}
.sakura-set .button-list button{
    border: unset;
    background: #FFB366;
    font-size: 29px;
    padding: 10px;
    color: #fff;
    border-radius: 50px;
    min-width: 573px;
    cursor: pointer;
}
.sakura-set .button-list button a{
    text-decoration: none;
    color: #fff;
}
.sakura-set .botton-navigate{
    display: flex;
    justify-content: space-between;
    font-size: 12pt;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    padding: 5px;
    margin:30px 0;
}
.sakura-set .botton-navigate .pull-left,.pull-right{
    width: 50%;
}
.sakura-set .botton-navigate .pull-left ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 43px;
}
.sakura-set .botton-navigate .pull-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.sakura-set .botton-navigate button{
    font-size: 24px;
    border:unset;
    padding: 12px;
    color: #fff;
    cursor: pointer;
}
.sakura-set .botton-navigate .pull-left button{
    background: #3399FF;
    border-radius: 10px;
}
.sakura-set .botton-navigate .pull-right button{
    background: #FF6666;
    border-radius: 50px;
    font-size: 37px;
}
.sakura-set .botton-navigate .pull-right .had-change{
    background: #FF8000!important;
}
.sakuraSet-sideBar{
    margin-bottom: 20px;
    border: 1px solid #94a3b8;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}
.sakuraSet-sideBar ul{
    list-style-type: none;
    font-size: 20px;
    color: #72C02C;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.sakuraSet-sideBar ul li span{
    cursor: pointer;
}
.sakuraSet-sideBar ul li button{
    cursor: pointer;
    width: 50%;
    border: unset;
    color: #fff;
    font-size: 19px;
    border-radius: 25px;
    padding: 5px 0;
}
.sakuraSet-sideBar ul li:nth-child(1) button{
    background: #66CC00;
}
.sakuraSet-sideBar ul li:nth-child(2) button{
    background: #3399FF;
}
.sakuraSet-sideBar ul li:nth-child(3) button{
    background: #FF3333;
}
.sakuraSet-sideBar ul li:nth-child(4) button{
    background: #FF8000;
}
.popup-wrapper .layout-popup{
    width: 34%!important;
}
.popup-wrapper .layout-popup .popup-content{
    margin-bottom: 30px!important;
}
.popup-wrapper .layout-popup .popup-content .header-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-wrapper .layout-popup .popup-content .header-content button{
    color: #fff;
    border-radius: 50px;
    border: unset;
    padding: 10px 50px;
    cursor: pointer;
    font-size: 32px;
    min-width: 640px;
    margin-bottom: 50px;
    background: #FFB366;
}
.yourTry .button-list{
    display: flex;
    flex-flow: column;
    gap: 30px;
    align-items: center;
}
.yourTry .button-list button{
    border: unset;
    background: #FFB366;
    font-size: 29px;
    padding: 10px;
    color: #fff;
    border-radius: 50px;
    min-width: 590pt;
    cursor: pointer;
}
.yourTry .button-list button:nth-last-child(1){
    background: #FF6666 !important;
}
.yourTry .button-list button a{
    text-decoration: none;
    color: #fff;
}
.popup-a013 .header-content,.popup-a014 .header-content,.popup-a015 .header-content{
    flex-flow: column!important;
}
.popup-a013 .header-content button:nth-child(1),.popup-a014 .header-content button:nth-child(1),.popup-a015 .header-content button:nth-child(1){
    background: #3399FF!important;
}
